@import "../../styles/styles.scss";

.dropdownMenu {
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 19px;
    background: $dropdownMenuColor;
    width: 365px;
    height: 50px;
    font-weight: bold;
    border-radius: 20px;

    .dropdownMenuContainer {
        position: relative;
        text-align: center;

        .dropdownMenuContainer__placeholder {
            cursor: pointer;
        }

        .dropdownMenuContainer__menu {
            background: $dropdownMenuColor;
            position: absolute;
            top: 52px;
            left: 50%;
            width: 200px;
            text-align: center;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
            border-radius: 3px;
            opacity: 0;
            visibility: hidden;
            transform: translate(-50%, -20px);
            transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
            z-index: 9;

            &.isDropped {
                opacity: 1;
                visibility: visible;
                transform: translate(-50%, 0);
                left: 50%;
            }

            &:after {
                content: "";
                height: 0;
                width: 0;
                position: absolute;
                top: -3px;
                left: 50%;
                transform: translate(-50%, -50%);
                border: 12px solid transparent;
                border-top-width: 0;
                border-bottom-color: $dropdownMenuColor;
            }

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                .dropdownMenuContainer__menu-item {
                    margin-bottom: 10px;
                    font-size: 20px;
                    text-decoration: none;
                    color: white;
                    cursor: pointer;
                }

                .dropdownMenuContainer__menu-item:first-of-type {
                    margin-top: 10px;
                }
            }
        }
    }
}
