$lightGreyColor: #c7c7c7;
$darkGreyColor: #999;
$footerColor: #7f8c8d;
$subMenuColor: #4b6584;
$borderColor: #e5e5e6;
$redBtnColor: #ff5d65;
$orangeBtnColor: #fa8901;
$fontBlackColor: #2f3542;
$dropdownMenuColor: #eccc68;
